* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

:root {
    --pink-text: #FCB1A6;
    --dark-pink: #FFDCCC;
    --mid-pink: #FFDCCC;
}

#mobile-nav {
    display:none;
}

.nav-bar {
    position: absolute;
    z-index: 2;
    width: 100%;
}

html {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    list-style: none;
    height: 20vh;
}

li a {
    display: block;
    color: #404040;
    text-decoration: none;
    font-size: 1.2rem;
}

#name {
    color: var(--pink-text);
    font-size: 40px;
    font-weight: bold;
}

.container {
    position: relative;
    height: 96vh;
    width: 100%;
    overflow: hidden;
}

.image-container {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-top: 0vh;
    animation: scale 5s;
}

.overlay {
    width: 100%;
    top: 0;
    left: 0;
    background: #fafafa;
    z-index: 1;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction:column;
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 24px;
    color: #404040;
    text-transform: none; 
    z-index: 2;
    letter-spacing: 1px;
    background-color: transparent;
}
span {
    color: #404040;
}
.hero-text h1 {
    font-size: 50px;
    color: #404040;
    margin-bottom: 10px;
    background-color: transparent;
}
.hero-text a {
    background: #404040;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    width: 414px;
    text-align: center;
}
.firstword {
    color: var(--pink-text);
}

.about-container {
    margin: 10%;
    width: 80%;
    height: auto;
    background-color: #fff;
    box-shadow: -2px 4px 60px rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.about-image {
    height: 560px;
    width: 813px;
    background-image: url(img/hike.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.about-text {
    height: auto;
    width: 40%;
    font-size: 1.5rem;
    margin-left: 100px;
    letter-spacing: 1px;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    width: 30%;
    margin: 8% 35%;
}

@media (max-width: 768px) {
    #nav {
        display: none;
    }
    #mobile-nav {
        display: block;
    }
    .mobile-nav-bar {
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 5;
    }
    ul {
        background-color: transparent;
    }
    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        box-shadow: -15px 7px 30px rgba(0,0,0,0.2);
    }    
    .about-image {
        margin-top: 20px;
        height: 300px;
        width: 225px;
        background-size: cover;
        background-position: center;
    }
    .about-text {
        margin-left: 20px;
        width: 100%;
        font-size: 0.75rem;
    }
    .social-icons {
        font-size: 1rem;
        padding: 10px;
        margin-left: -10px;
    }
    .hero-text a {
        background-color: transparent;
        color: transparent;
        top: 100px;
    }
    .images {
        height: 100%;
        position: absolute;
        left: 30%;
        bottom: 700px;
        top: 100px;
    }
}

footer {
    font-size: 14px;
    padding: 8px 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

@import 'https://fonts.googleapis.com/css?family-Montserrat:300, 400, 700&display=swap';

.images {
    width: 50%;
    height: 68%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img {
    height: 60%;
    position: absolute;
    left: 51%;
    bottom: 284px;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.image:hover .shape {
    bottom: 40px;
}

.image:hover .me {
    left: 45%;
}

#arrow-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

#arrow-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
}

#scroll-down {
    display: inline-block;
    position: relative;
    padding-top: 0px;
    text-align: center;
}

.arrow-down {
    display: block;
    margin: 0 auto;
    width: 14px;
    height: 25px;
}

#scroll-down::before {
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: 0;
    width: 1px;
    height: 40px;
    background: #000000;
    content: ' ';
}

.arrow-down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 12px;
    height: 12px;
    border-top: 2px solid #0F1115;
    border-right: 2px solid #0F1115;
    behavior: url(-ms-transform.htc);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}