.explanation h3 {
    color: none
}
html {
	margin: 0;
	padding: 0;
    font-family: Arial, "Times New Roman";
	}

body {
        color : #1C6758;
        background : #D6CDA4;
        font-family: Arial, "Times New Roman";
        font-size : 1.2em;
    }

a {
        color : #0d8ba1;
        transition : all 0.5s ease-out;
        text-decoration : none;
    }

p { 
	margin-top: 0; 
	}

h3 { 
	font-family: Arial, "Times New Roman";
	letter-spacing: 8px; 
	color: #7D775C;
	}
.preamble p {
    text-indent: 40px;
}
a:link { 
	font-weight: bold;
    text-decoration: none;
    color: #1C6758;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #1C6758;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #1C6758;
	}
abbr {
	border-bottom: none;
	}

.page-wrapper { 
    padding: 20px 500px 20px 200px;
    margin: 0;
    position: relative;
    border-radius: 25px;
    background: url(imgs/2.png);
    background-position: left top;
    background-repeat: repeat;
    height: 320px;
	}

.intro { 
	min-width: 470px;
	width: 100%;
	}

header h1 { 
    height : 230px;
    text-align : center;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-indent: 50px;
	}

header h2 { 
    margin: -10px auto 0;
    width: 100%;
    text-align: end;
    font-style: italic;
	}
header {
    padding-top: 20px;
    height: 100px;
    border-style: solid;
    border-radius: 10px;
    background-color: beige;
}

.summary {
	clear: both; 
	margin: 20px 20px 20px 10px; 
	width: 160px; 
	float: left;
	}
.summary p {
	text-align: center;
    width: 400px;
    margin: 10px;
    outline-style: dotted;
    background-color: darkseagreen;
	}

.preamble {
    clear: right;
    padding: 0px 10px 0 10px;
    margin-top: 260px;
    column-count: 3;
    column-gap: 10px;
    column-rule-style: double;
	}
.supporting {	
    height: 400px;
    padding: 10px;
    border: 5px solid #1C6758;
    margin-top: 40px;
    border-radius: 2em;
    width: 500px;
    background-image: url(imgs/3.png);
    background-repeat: no-repeat;
	}
.participation {
    margin-bottom: 40px;
    height: 500px;
    padding: 10px;
    border: 5px solid #1C6758;
    margin-top: 60px;
    width: 1000px;
    border-style: dotted;
}
.participation p{
    text-transform: capitalize;
    word-spacing: 2px;
    line-height: 40px;
}
.benefits {
    margin-left: 200px;
    margin-bottom: 40px;
    height: 200px;
    padding: 10px;
    border: 5px solid #1C6758;
    margin-top: 20px;
    width: 500px;
    border-radius: 40px;
    background-image: url(imgs/1.png);
}
.benefits p{
    color:white;
}
.requirements {
    margin-bottom: 40px;
    height: 500px;
    padding: 10px;
    border: 5px solid #1C6758;
    margin-top: 20px;
    width: 1000px;
}
footer { 
    line-height: 400px;
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}

.sidebar {
	margin-left: 600px; 
	position: absolute; 
	top: 0; 
	right: 0;
    margin-right:100px
	}
.sidebar .wrapper { 
	font: 20px verdana, sans-serif;
    margin-top: 600px;
	}
.sidebar h3.select {  
	margin: 10px 0 5px 0; 
	width: 97px; 
	height: 16px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.archives { 
	margin: 25px 0 5px 0; 
	width:57px; 
	height: 14px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.resources { 
	margin: 25px 0 5px 0; 
	width:63px; 
	height: 10px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}


.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 1.3em;  
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: #FA7070;
	}
.sidebar li a:visited {
	color: #C6EBC5;
	}


.extra1 {
	position: absolute; 
	top: 40px; 
	right: 0; 
	width: 148px; 
	height: 110px;
	}